a {
    color: black;
    text-decoration: none;
}

a:visited {
    /* color: black; */
    text-decoration: none;
}

.landingpage_wrap{
    /* background: #bfc8d7; */
    /* padding-bottom: 10px; */
}

.slide_wrap{
    /* height: 500px; */
    /* height: auto; */
    width: 100vw;
    overflow-x: hidden;
}

.slide_wrap ul{
    /* height: 400px; */
    /* height: auto; */
    /* width: 100%;
    height: 500px;
    display:flex;
    transition:1s;
    overflow: hidden; */
}


/* .slide_content {
    width: 100px;
} */

.slide_box{
    /* width: 100%; */
    list-style: none;
    padding-left: 0;
    /* display: flex; */
    /* overflow: hidden; */
}

.slide_content{
    /* width: 100px; */
    /* width: 100%; */
    /* border: 1px solid; */
    object-fit: contain;
    height: 70vh;
    background-color: #bfc8d7;
}

/* .slide_box :nth-child(1){
    background:#faa;
}

.slide_box :nth-child(2){
    background:#afa;
}

.slide_box :nth-child(3){
    background:#aaf;
}

.slide_box :nth-child(4){
    background:#faf;
} */

.food_img {
    /* width: 100px; */
    /* height: auto; */
    object-fit: cover;
    padding-top: 0;
}


.img_contaier{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4fr; */
    height: 100%;
    overflow: hidden;
}

.img_item{
    width: 100%;
    /* height: 30vh; */
    height: 100%;
    object-fit: cover;
    opacity: 0.96;
}
.img_item:nth-child(3){
    /* height: 60vh; */
    grid-column: 3/4;
    grid-row:1/4;
}
.img_item:nth-child(4){
    grid-column:1/3;
    grid-row:2/3;
    height: 101%;
}
.landingpage_wraaper{
    position: relative;
}
.landingpage_item_wrapper{
    position: relative;
}
.msg_box{
    width:20vw;
    height: 10vh;
    background-color: rgba(219, 215, 204, 0.6);
    border: 1px solid #fff;
    color: black;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.login_box{
    font-weight: bolder;
}
.msg_box_content{
    line-height: 9vh;
    font-size: 32px;
}

@media screen and (min-width: 1024px){
    .landingpage_wraaper{
        text-align: center;
        background-color: black;
    }
    .landingpage_item_wrapper{
        width: 1024px;
        display: inline-block;
    }
}

@media screen and (max-width: 768px){
    .msg_box_content{
        font-size: 20px;
    }
}