a {
    color: black;
    text-decoration: none;
}

a:visited {
    /* color: black; */
    text-decoration: none;
}

.landingpage_wrap{
    background: #8977AD;
    padding-bottom: 10px;
}

.slide_wrap{
    height: 500px;
    display: flex;
}

/* .slide_content {
    width: 100px;
} */

.slide_box{
    width: 100%;
    list-style: none;
    padding-left: 0;
    display: flex;
}

.slide_content{
    /* width: 100px; */
    width: 100%;
    border: 1px solid;
}

.slide_box :nth-child(1){
    background:#faa;
}

.slide_box :nth-child(2){
    background:#afa;
}

.slide_box :nth-child(3){
    background:#aaf;
}

.slide_box :nth-child(4){
    background:#faf;
}

