.header_wrap {
    height : 60px;
    background-color : #323232;
    display:flex;
    align-items: center;
}

.header_logo{
    font-size: 40px;
    height: inherit;
}

.header_item_wrap {
  display: flex;
  float: right;
  margin-left: auto;
}

.header_item {
  padding: 10px;
  border-radius: 6px;
}
.header_item:hover:not(.header_icon){
  background: white;
  transition: 0.4s;
}

.header_menu_trigger {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
  z-index: 999;
}

.header_menu_trigger,
.header_menu_trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}

.header_menu_trigger {
  position: relative;
  width: 28px;
  height: 24px;
}

.header_menu_trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}

.header_menu_trigger span:nth-of-type(1) {
  top: 0;
}

.header_menu_trigger span:nth-of-type(2) {
  top: 10px;
}

.header_menu_trigger span:nth-of-type(3) {
  bottom: 0;
}

/* 2th bar 사라지고,  1st 3rd bar 회전하며 X  */

.header_menu_trigger.active-1 span:nth-of-type(1) {
  transform: translateY(10px) rotate(-45deg);
}

.header_menu_trigger.active-1 span:nth-of-type(2) {
  opacity: 0;
}

.header_menu_trigger.active-1 span:nth-of-type(3) {
  transform: translateY(-10px) rotate(45deg);
}




/* .header_menu_trigger {
  position: relative;
  width: 50px;
  height: 44px;
}

.header_menu_trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}

.header_menu_trigger span:nth-of-type(1) {
  top: 0;
}

.header_menu_trigger span:nth-of-type(2) {
  top: 20px;
}

.header_menu_trigger span:nth-of-type(3) {
  bottom: 0;
}

.header_menu_trigger.active-1 span:nth-of-type(1) {
  transform: translateY(20px) rotate(-45deg);
}

.header_menu_trigger.active-1 span:nth-of-type(2) {
  opacity: 0;
}

.header_menu_trigger.active-1 span:nth-of-type(3) {
  transform: translateY(-20px) rotate(45deg);
} */

/* .menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 0;
    transition: 0.5s ease;
    z-index: 1;
    background-color: #eee;
  }
  
  .burger-icon {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    z-index: 2;
    padding: 8px 0;
    top: 4px;
    right: 4px;
    user-select: none;
    width: auto;
    margin: 0;
  }
  
  .burger-icon .burger-sticks {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .burger-icon .burger-sticks:before,
  .burger-icon .burger-sticks:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .burger-icon .burger-sticks:before {
    top: 5px;
  }
  
  .burger-icon .burger-sticks:after {
    top: -5px;
  }
  
  .burger-check {
    display: none;
  }
  
  .burger-check:checked~.menu {
    max-width: 200px;
  }
  
  .burger-check:checked~.burger-icon .burger-sticks {
    background: transparent;
  }
  
  .burger-check:checked~.burger-icon .burger-sticks:before {
    transform: rotate(-45deg);
  }
  
  .burger-check:checked~.burger-icon .burger-sticks:after {
    transform: rotate(45deg);
  }
  
  .burger-check:checked~.burger-icon:not(.steps) .burger-sticks:before,
  .burger-check:checked~.burger-icon:not(.steps) .burger-sticks:after {
    top: 0;
  } */

.header_menu{
  position:absolute;
  right: -100px;
  top: 0px;
  width:100px;
  height:100%;
  background: #323232;
  z-index: 1;
}

.header_menu_close{
  /* display: none; */
  /* opacity: 0; */
  visibility: hidden;
  transition: all 0.4s;
}

.header_menu_open{
  position:absolute;
  right: -100px;
  top: 0px;
  width:100px;
  height:100%;
  background: #323232;
  transition: all 0.4s;
  transform: translateX(-100px);
}

