.word_button{
    border: 1px solid skyblue;
    background-color: white;
    color: skyblue;
    padding: 5px;
    border-radius: 5px;
}

.word_button:hover{
    color:white;
    background-color: skyblue;
}

.modal_bg{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.50);
    z-index: 0;
}

.modal_wrap{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 80%;
    width: 20rem;
    height: 80%;
    padding: 16px;
    background: rgb(25, 31, 44);
    border-radius: 10px;
    text-align: center;

    /* @media ${(props) => props.theme.device.MobileLandscape}{
        width: 90%;
    } */
}
